{% extends "todo/base.html" %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <h1 style="color: #ff4057">Completed</h1>
    </div>
</div>

<div class="row justify-content-center mt-5">
    <div class="col-md-5">
        <ul class="list-group">
            {% for todo in todos %}
            <li class="list-group-item mt-1" style="background-color: #ff4057">
                <a href="{% url 'viewtodo' todo.id %}" class="list-group-item list-group-item-action" style="background-color: #DCDCDC">
                    {% if todo.important %}<b>{% endif %}{{ todo.title }}{% if todo.important %}</b>{% endif %}
                    {% if todo.description %} - {{ todo.description }}{% endif %}
                    {{ todo.datecompleted|date:"j M Y H:i" }}
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
